<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <appender name="redis" class="com.cwbase.logback.RedisAppender">
        <host>192.168.28.131</host>
        <port>6379</port>
        <key>logstash</key>
        <type>appapi-local</type>
        <source>SLOT-1</source>
    </appender>


    <appender name="redisAsync" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="redis" />
    </appender>



    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
<!--            <appender-ref ref="redis" />-->
        </root>
    </springProfile>


    <springProfile name="product">
        <root level="INFO">
<!--            <appender-ref ref="redisAsync" />-->
             <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

</configuration>